body {
    margin: 0;
    background: fixed url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/dark-purple-flowing-waves_wk98bf-h__F0000.png");
}

body>div {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

nav {
    position: fixed;
    width: 100%;
    overflow: auto;
    background: linear-gradient(to right, #aa00b2, #db13b7);
}

nav button {
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: inherit;
    width: 16.666666667%;
    float: left;
    height: 31px;
    color: aliceblue;
    overflow: hidden;
}

nav button:hover {
    background-color: black;
}

nav button:focus {
    outline: 0;
}

#createPerson p {
    display: inline;
}

body>div>* {
    margin: 2px 0;
}

.goButton {
    position: absolute;
    bottom: 5px;
    right: 7px;
}

#addStudent, #createPerson, #createSection, #removeStudent, #searchStudent, #searchOutput{
    position: relative;
    border: solid #a908b1 2px;
    width: 300px;
    margin: 2px auto;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

#sections {
    background-color: white;
    width: 75%;
    padding: 5px;
    border: solid #a908b1 2px;
    border-radius: 10px;
}

.hide {
    display: none;
}

#student {
    display: block;
}

.hiddenSelect{
    display: none;
}

#sections>div {
    border: solid black 2px;
    border-radius: 5px;
}

.students {
    overflow: auto;
}

.students li {
    float: left;
    margin-right: 25px;
}

#emptySpace {
    display: block;
    height: 31px;
}

.clicked {
    background-color: black;
}

.inline {
    display: inline;
}