body {
    margin: 0;
    background-color: #1b1b1b;
}

body>div {
    display: none;
    margin-left: auto;
    margin-right: auto;
}

nav {
    overflow: auto;
}

nav button {
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: #aa00b2;
    width: 16.666666667%;
    float: left;
    height: 31px;
    color: aliceblue;
    overflow: hidden;
}

nav button:hover {
    background-color: #d800e0;
}

nav button:focus {
    outline: 0;
}

#createPerson p {
    display: inline;
}

body>div>* {
    margin: 2px 0;
}

.goButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#addStudent, #createPerson, #createSection, #removeStudent, #searchStudent, #searchOutput{
    position: relative;
    border: solid black 1px;
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    background-color: aliceblue;
}

#sections {
    background-color: aliceblue;
    width: 75%;
    padding: 5px;
}

.hide {
    display: none;
}

#student {
    display: block;
}

.hiddenSelect{
    display: none;
}

#sections>div {
    border: solid black 2px;
}

.students {
    overflow: auto;
}

.students li {
    float: left;
    margin-right: 25px;
}